BODY {
	SCROLLBAR-FACE-COLOR: #dddddd; FONT-SIZE: 9pt; SCROLLBAR-HIGHLIGHT-COLOR: #f2f2f2; SCROLLBAR-SHADOW-COLOR: #f2f2f2; COLOR: black; SCROLLBAR-3DLIGHT-COLOR: #dddddd; SCROLLBAR-ARROW-COLOR: #000000; SCROLLBAR-TRACK-COLOR: #f2f2f2; FONT-FAMILY: MS Sans Serif; SCROLLBAR-DARKSHADOW-COLOR: #000000; BACKGROUND-COLOR: white; TEXT-ALIGN: justify
}
TD {
	FONT-SIZE: 9pt; COLOR: black; MARGIN-RIGHT: 4px; FONT-FAMILY: MS Sans Serif; TEXT-ALIGN: justify
}
A:link {
	FONT-WEIGHT: normal; FONT-SIZE: 9pt; COLOR: #000fff; TEXT-DECORATION: none
}
A:hover {
	FONT-WEIGHT: normal; FONT-SIZE: 9pt; BACKGROUND-COLOR: #f2f2f2; TEXT-DECORATION: underline
}
A:visited {
	FONT-SIZE: 9pt; COLOR: darkred; TEXT-DECORATION: none
}
.p {
	FONT-SIZE: 9pt; MARGIN-LEFT: 5px; TEXT-INDENT: 20px; MARGIN-RIGHT: 5px; TEXT-ALIGN: justify
}
.p1 {
	FONT-SIZE: 9pt; MARGIN-LEFT: 5px; MARGIN-RIGHT: 5px; TEXT-ALIGN: justify
}
.h1 {
	FONT-SIZE: 14pt; COLOR: #a3a3a3; TEXT-ALIGN: center
}
.h2 {
	FONT-WEIGHT: bold; FONT-SIZE: 9pt; TEXT-ALIGN: center
}
.bmtxt {
	FONT-SIZE: 9pt; MARGIN-LEFT: 5px; TEXT-ALIGN: left
}
