<?xml version="1.0" encoding="windows-1251"?>
<configuration>
  <appSettings>
    <!--   User application and configured property settings go here.-->
    <!--   Example: <add key="settingName" value="settingValue"/> -->
    <add key="timer1.Enabled" value="True" />
    <add key="timer1.Interval" value="10000" />
  </appSettings>
</configuration>